.formControl {

}
.loginLink:hover{
    text-decoration: underline;
    
}


.textfield__label { /* Chrome/Opera/Safari */
  color: WHITE !important;
}
.textfield__label{ /* Firefox 19+ */
  color: WHITE !important;
}
.textfield__label { /* IE 10+ */
  color: WHITE !important;
}
.textfield__label { /* Firefox 18- */
  color: WHITE !important;
}