
.loginLink:hover{
    text-decoration: underline;
}
textarea:focus {
    outline: none !important;
    box-shadow: 0 0 10px #719ECE;
    border-radius: 10px;
}
textarea{
  padding: 10;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
}
::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
:-moz-placeholder { /* Firefox 18- */
  color: pink;
}

.picker-container {
  position: relative;
  width: 670px;
}

.emoji-icon {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 10px;
}

.input-style {
  padding: 7px 30px 7px 10px;
  width: calc(100% - 40px);
  border-radius: 3px;
  border: 1px solid #999;
  margin-bottom: 10px;
}